body{
 background-color: #FF2800;
 color: #FFFFFF;
 text-align:center;
}
header{
 font-size:50px;
 font-family: "Inter", sans-serif;
 font-weight: bold;
}
h1{
 font-size:50px;
 font-family: "Inter", sans-serif;
 font-weight: bold;
}
p{
font-size:30px;
text-align:center;
font-family: "Inter", sans-serif;
}